@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
/* CSS Variables */
:root {
  --hero-footer-bg-color: #1f2937;
  --hero-main-text-font-size: 48px;
  --hero-main-text-font-weight: 800;
  --hero-main-text-color: #f9faf8;
  --hero-secondary-text-font-size: 18px;
  --hero-secondary-text-color: #e5e7eb;
  --hero-box-bg-color: #6d747d;
  --header-logo-font-size: 24px;
  --header-logo-color: #f9faf8;
  --button-color-CTA-bg-color: #3882f6;
  --info-header-text-font-size: 36px;
  --info-header-text-font-weight: 800;
  --info-header-text-color: #1f2937;
  --quote-section-bg-color: #e5e7eb;
  --quote-text-font-size: 36px;
  --quote-text-font-weight: 300;
  --quote-text-font-style: "italic";
  --quote-text-color: #1f2937;
  --info-item-text-color: #babec2;
}
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Nav Bar */

nav {
  background: var(--hero-footer-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  color: var(--header-logo-color);
  font-size: var(--header-logo-font-size);
}

.header-links {
  color: var(--hero-secondary-text-color);
  font-size: var(--hero-secondary-text-font-size);
  font-size: 18px;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

/*
.header-link {
  
  border-style: solid;
  border-color: red;
  
}
*/

/* Hero */
.hero {
  padding: 1rem 1.5rem;
  background-color: var(--hero-footer-bg-color);
  display: flex;
  justify-content: space-between;
}

/* Hero - Left Side */
.hero-left {
  flex: 1;
}

.hero-left p,
button {
  margin-top: 0.25rem;
}

.hero-main-text {
  color: var(--hero-main-text-color);
  font-size: var(--hero-main-text-font-size);
}

.hero-secondary-text {
  color: var(--hero-secondary-text-color);
  font-size: var(--hero-secondary-text-font-size);
}

.hero button {
  background-color: var(--button-color-CTA-bg-color);
  color: #f9faf8;
  border-radius: 5px;
  padding: 0.25rem 1.25rem;
  border: none;
}

/* Hero - Right Side */
.hero-right {
  flex: 1;
  color: var(--hero-secondary-text-color);
  background-color: var(--hero-box-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.5rem;
}

.info-header {
  font-size: var(--info-header-text-font-size);
  font-weight: var(--info-header-text-font-weight);
  color: var(--info-header-text-color);
  margin: 2rem 0;
}

.items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 2rem;
}
.info ul {
  list-style-type: none;
}

.item {
  text-align: center;
}

.item-img {
  border-style: solid;
  border-color: var(--button-color-CTA-bg-color);
  border-radius: 0.5rem;
  height: 10rem;
}

.item-txt {
  color: var(--info-item-text-color);
}

/* Qoute */
.quote {
  padding: 4rem 1.5rem;
  background-color: var(--quote-section-bg-color);
  display: flex;
  flex-direction: column;
}

.client-quote {
  font-weight: 100;
  font-style: italic;
  align-self: center;
}

.client-name {
  align-self: flex-end;
}

/* CTA */
.cta-box {
  padding: 2rem 0;
  border-radius: 0.75rem;
  margin: 2rem;
  background-color: var(--button-color-CTA-bg-color);
  display: flex;
  justify-content: space-around;
}

.cta-box-l {
  display: flex;
  flex-direction: column;
}

.primary {
  color: var(--hero-main-text-color);
  font-size: var(--header-logo-font-size);
}

.secondary {
  color: var(--hero-secondary-text-color);
}

.cta-btn {
  color: #f9faf8;
  background-color: var(--button-color-CTA-bg-color);
  border-style: solid;
  border-color: #f9faf8;
  border-radius: 5px;
  padding: 0.25rem 1.25rem;
}

/* Footer */
footer {
  background-color: var(--hero-footer-bg-color);
  color: #cacbce;
  text-align: center;
  padding: 2rem;
}
